<header class="headersuporte">
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
            <a href="/"><img src="/assets/imgs/adamas-logo.png" alt="Logo"></a>
        </div>
      </div>
  </div>

  <figure>
    <!-- <img src="https://images.pexels.com/photos/8867431/pexels-photo-8867431.jpeg" alt="Logo"> -->
 </figure>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="search">
          <input type="text" class="form-control" placeholder="Digite o nome da página ou item para buscar">
          <button class="btn btn-secondary">Buscar</button>
      </div>

      <ul class="nav justify-content-center ">
        <li class="nav-item">
          <a class="nav-link active" href="#">Categoria A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categoria B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categoria C</a>
        </li>
      </ul>

    </div>

  </div>
</div>
</header>
