
<div class="row">
  <div class="col-sm-11"></div>

  <div class="col-sm-1">
      <div class="box-flags">
        <app-flags></app-flags>
        <app-colortheme></app-colortheme>
    </div>
  </div>

  <div class="col-sm-12">


    <div class="form-center form-verification">
      <div class="row">

        <img src="/assets/imgs/logo.png" alt="Logo" class="logo">

        <h2>Autenticação em 2 Fatores</h2>
        <p>Insira o código de verificação</p>

        <!-- <input type="password" class="form-control" id="floatingPassword" placeholder="código"> -->


        <div class="col-sm-2">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="*" maxlength="1">
            <label for="floatingInput"></label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="*" maxlength="1">
            <label for="floatingInput"></label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="*" maxlength="1">
            <label for="floatingInput"></label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="*" maxlength="1">
            <label for="floatingInput"></label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="*" maxlength="1">
            <label for="floatingInput"></label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="*">
            <label for="floatingInput"></label>
          </div>
        </div>


      </div>

        <div class="row">
          <button type="submit" class="btn btn-black" onclick="window.location.href='/home';">Verificar código</button>
        </div>
    </div>

  </div>
</div>
