
.form-center {
  width: 500px;
  margin:0 auto;
  text-align: center;
}

.form-center img {
  max-width: 255px;
  margin: 30% auto 10% auto;
}

.form-control {
  margin: 10px 0;
}

.text-center {
  text-align: center;
  padding: 10px 0;
}

.btn-black {
  background: #0C0B0B;
  color:white;
}

.btn-black:hover {
  background: #F48120;
  color:white;
}

.lbl-senha {
  margin:10px 0;
  padding: 0;
}
