
<div class="row">

  <div class="col-sm-12">


    <div class="form-center">
      <div class="row">

        <img src="/assets/imgs/adamas-logo.png" alt="Logo">

        <h2>Autenticação em 2 Fatores</h2>
        <p>Insira o código de verificação</p>

        <input type="password" class="form-control" id="floatingPassword" placeholder="código">

      </div>

        <div class="row">
          <button type="submit" class="btn btn-black" onclick="window.location.href='/home';">Verificar código</button>
        </div>
    </div>

  </div>
</div>
