
.form-center {
  width: 500px;
  margin:0 auto;
  text-align: center;
}

.form-center img {
  max-width: 255px;
  margin: 30% auto 10% auto;
}

.form-control {
  margin: 10px 0;
}

.text-center {
  text-align: center;
  padding: 10px 0;
}

.btn-black {
  background: #0C0B0B;
  color:white;
}

.btn-black:hover {
  background: #F48120;
  color:white;
}

.lbl-senha {
  margin:10px 0;
  padding: 0;
}

.form-verification .row {
  justify-content: center
}

.form-verification input {
  height: 80px;
  /* background-color: #F5F5F7; */
}

.form-floating>label {
  font-size: 10px;
}

.form-verification button[type=submit] {
  -ms-flex-item-align: center;
  width: 300px;
  margin:20px 0;
  /* background-color: #F5F5F7; */
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .form-verification input {
    max-width:180px;
    height: 80px;
    margin: 0 auto;
    font-size: 33px;
    text-align: center;
  }

  .form-verification button[type=submit] {
    -ms-flex-item-align: center;
    max-width:180px;
    margin:20px 0;
    padding:20px 0;
    /* background-color: #F5F5F7; */
  }

}
