<div class="row">

  <div class="col">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">

    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">

    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">

    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">

    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>


 </div>
