<div class="container-fluid">
  <div class="row row-bar">
      <div class="col-10">
          <div class="search">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control" placeholder="Digite o nome da página ou item para buscar">
              <button class="btn btn-secondary">Buscar</button>
          </div>

      </div>
      <div class="col-2">

          <!-- <ul>
              <li><i class="fa fa-bell" aria-hidden="true"></i></li>
              <li><i class="fa fa-globe" aria-hidden="true"></i></li>
              <li><i class="fa fa-comment" aria-hidden="true"></i></li>
          </ul> -->

          <div class="dropdown">
              <a class="btn dropdown-toggle toggle-alerta" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell" aria-hidden="true"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start dropdown-alerta" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item active" href="#">Notificações</a></li>
                  <li><a class="dropdown-item" href="#">Cliente Adicionado</a></li>
                  <li><a class="dropdown-item" href="#">Cliente Removido</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item active2" href="#">Ver Todos</a></li>
                </ul>
            </div>

      </div>
  </div>
</div>
