.search {
  position: relative;

  /* box-shadow: 0 0 40px rgba(51, 51, 51, .1); */
}

.row-bar {  margin:30px 0 0 0;}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #F5F5F7;
  /* background: #F5F5F7; */
  background-color: var(--bg-color-input);
  border-radius: 12px;
}


.search input:focus {
  box-shadow: none;
  border: 2px solid #F48120;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
  color:gray;

}

.search button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #F48120;

}

.group-alertas {
  padding: 15px 0;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.material-symbols-outlined {
  font-size: 26px;
  color:#9C9C9C;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #F48120;
}

/*Notify
#dropdownMenuLink {
  float:left;
  list-style: none;
  margin:5px 0;
  font-size: 29px;
  color:#9C9C9C;
}

.dropdown-alerta.dropdown-menu.show {
  display: block;
  margin: 5px 0;
  position: absolute;
  inset: 0px auto auto 0px;
  transform: translate(15px, 58px);
  padding: 0;
  border:0;
  box-shadow: 0px 2px 10px #00000027;
}


.dropdown-alerta.dropdown-menu .dropdown-item{
  padding: 15px 3rem;
  background-color: #FAFAFA;
  color:#43425D;
  margin:0;
  text-align: center;
  font-size: 14px;
}

.dropdown-alerta .dropdown-divider {
  margin: 0;
  border-color: #dedede;
}


.dropdown-alerta .dropdown-item.active, .dropdown-item:active {
  background-color: white;
  color:#4D4F5C;
  font-weight: bold;
  font-size: 18px;
}

.dropdown-alerta .dropdown-item.active2, .dropdown-item:active {
  background-color: white;
  color:#F48120;
  font-weight: 600;
  font-size: 13px;

}
*/
