

<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="title">BV BULGARI > Upload</h2>
    </div>

    <div class="col-sm-12">
      <app-uploadfile></app-uploadfile>
    </div>

    <div class="col-sm-12">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Perfil</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">  <i class="fa fa-save" aria-hidden="true"></i> Salvar</button>
                    <button class="dropdown-item" type="button">  <i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                    <button class="dropdown-item" type="button">  <i class="fa fa-trash" aria-hidden="true"></i> Excluir</button>
                  </div>
                </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">  <i class="fa fa-save" aria-hidden="true"></i> Salvar</button>
                  <button class="dropdown-item" type="button">  <i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                  <button class="dropdown-item" type="button">  <i class="fa fa-trash" aria-hidden="true"></i> Excluir</button>
                </div>
              </div>
          </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>


