<div class="row">
<div class="col-sm-4">
  <div class="card-item">
    <i class="fa fa-handshake-o rounded-circle"></i>
    <label>  R$50.000<br /> <span>Total Vendas</span></label>
  </div>
</div>

<div class="col-sm-4">
  <div class="card-item">
    <i class="fa fa-shopping-cart rounded-circle"></i>
    <label>  R$50.000<br /> <span>Total Vendas</span></label>
  </div>
</div>

<div class="col-sm-4">
  <div class="card-item">
    <i class="fa fa-line-chart rounded-circle"></i>
    <label>  R$50.000<br /> <span>Total Vendas</span></label>
  </div>
</div>
</div>
