<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <span class="material-symbols-outlined">
    globe
    </span>
</button>
<ul class="dropdown-menu flagsicon">
  <li><a class="dropdown-item" href="#"><img src="/assets/imgs/brazil-flag.png" alt="PT-BR"> Português (BR)</a></li>
  <li><a class="dropdown-item" href="#"><img src="/assets/imgs/united-states-flag.png" alt="PT-BR"> Inglês</a></li>
  <li><a class="dropdown-item" href="#"><img src="/assets/imgs/spain-flag.png" alt="PT-BR"> Espanhol</a></li>
</ul>
