<div class="row">
  <div class="col-sm-12">
    <app-shareicon></app-shareicon>
  </div>
</div>

<div class="col-sm-12"><hr /></div>

<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-th-large" aria-hidden="true"></i> Overview</button>
    <button class="nav-link" id="v-pills-dados-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dados" type="button" role="tab" aria-controls="v-pills-dados" aria-selected="true"><i class="fa fa-line-chart" aria-hidden="true"></i> Dados</button>
  </div>

  <div class="tab-content" id="v-pills-tabContent">

          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
            <div class="row p-3">
              <div class="col-sm-12">
                <h4 class="title-divider">Titulo</h4>
              </div>

              <div class="col-sm-3">
                <div class="form-floating">
                    <input type="inputNome" class="form-control" id="floatingInput" placeholder="Nome">
                    <label for="floatingInput">Nome</label>
                </div>
            </div>

            <div class="col-sm-3">
              <div class="form-floating">
                <input type="inputNome" class="form-control" id="floatingInput" placeholder="Sobrenome">
                <label for="floatingInput">Sobrenome</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-floating">
                <input type="date" class="form-control" id="floatingInput" placeholder="Idade">
                <label for="floatingInput">Idade</label>
              </div>
            </div>


            <div class="col-sm-3">
              <div class="form-floating">
                <input type="inputNome" class="form-control" id="floatingInput" placeholder="Nacionalidade">
                <label for="floatingInput">Nacionalidade</label>
              </div>
            </div>

            <div class="col-sm-12">
              <h4 class="title-divider">Titulo</h4>
            </div>

            <div class="col-sm-3">
              <div class="form-floating">
                  <input type="inputNome" class="form-control" id="floatingInput" placeholder="Nome">
                  <label for="floatingInput">Nome</label>
              </div>
          </div>

          <div class="col-sm-3">
            <div class="form-floating">
              <input type="inputNome" class="form-control" id="floatingInput" placeholder="Sobrenome">
              <label for="floatingInput">Sobrenome</label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-floating">
              <input type="date" class="form-control" id="floatingInput" placeholder="Idade">
              <label for="floatingInput">Idade</label>
            </div>
          </div>


          <div class="col-sm-3">
            <div class="form-floating">
              <input type="inputNome" class="form-control" id="floatingInput" placeholder="Nacionalidade">
              <label for="floatingInput">Nacionalidade</label>
            </div>
          </div>

      </div>

    </div>

    <div class="tab-pane fade" id="v-pills-dados" role="tabpanel" aria-labelledby="v-pills-dados-tab" tabindex="0">

        <div class="row p-3">
            <div class="col-sm-6">
              <h4 class="title-divider">Descrição</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere neque non ipsum sodales accumsan. Donec eu
                nisi eu dolor pretium viverra eget in turpis. Duis et porta quam.
              </p>
            </div>

            <div class="col-sm-6">
              <h4 class="title-divider">KEY</h4>
              <p> Lorem ipsum dolor sit amet</p>
            </div>
        </div>

    </div>
  </div>
</div>
