
<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
          <h2 class="title">BV BULGARI > Cadastro > Pessoa</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 content-avatar">
          <figure class="figure avatar">
            <img src="https://images.pexels.com/photos/3760953/pexels-photo-3760953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="figure-img img-fluid rounded-circle" alt="...">
          </figure>
      </div>

      <div class="col-sm-10">
          <ul class="list-group list-unstyled profile-list">
            <li>Nome</li>
            <li>Identificação</li>
            <li>Endereço</li>
            <li>Email</li>
            <li>Registro</li>
          </ul>
      </div>
    </div>


  <div class="row">
    <div class="col-sm-12">

                <!--Tab-->
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="faq_tab_1-tab" data-bs-toggle="tab" data-bs-target="#faq_tab_1" type="button"
                      role="tab" aria-controls="faq_tab_1" aria-selected="true">
                      Pessoal
                    </button>
                  </li>
                  <li class="nav-item" role="presentation"> <button class="nav-link" id="faq_tab_2-tab" data-bs-toggle="tab"
                      data-bs-target="#faq_tab_2" type="button" role="tab" aria-controls="faq_tab_2" aria-selected="false">
                      Identificação
                    </button>
                  </li>
                  <li class="nav-item" role="presentation"> <button class="nav-link" id="faq_tab_3-tab" data-bs-toggle="tab"
                      data-bs-target="#faq_tab_3" type="button" role="tab" aria-controls="faq_tab_3" aria-selected="false">
                      Endereço
                    </button>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade active show" id="faq_tab_1" role="tabpanel" aria-labelledby="faq_tab_1-tab">


                    <div class="row">
                        <div class="col">
                          <label for="inputNome" class="form-label">Nome</label>
                          <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                          <label for="inputNome" class="form-label">Nome</label>
                          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>
                        <div class="col">
                          <label for="inputNome" class="form-label">Nome</label>
                          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>
                        <div class="col">
                          <label for="inputNome" class="form-label">Nome</label>
                          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>
                    </div>


                  </div>


                  <div class="tab-pane fade" id="faq_tab_2" role="tabpanel" aria-labelledby="faq_tab_2-tab">

                    <div class="scroll-y" style="margin: 50px 0; width:100%;">
                      <div class="p-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column"> <span>Departure</span>
                          <div class="d-flex justify-content-between align-items-center"> <span>DAC</span> <i
                              class='bx bxs-plane-take-off ms-3 me-3 text-warning'></i> <span>JKF</span> </div>
                        </div>
                        <div> <span>3 hours 22 minutes</span> </div>
                      </div>
                      <div class="border-top p-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column"> <span>Departure</span>
                          <div class="d-flex justify-content-between align-items-center"> <span>TUM</span> <i
                              class='bx bxs-plane-take-off ms-3 me-3 text-warning'></i> <span>DEL</span> </div>
                        </div>
                        <div> <span>13 hours 12 minutes</span> </div>
                      </div>
                      <div class="border-top p-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column"> <span>Departure</span>
                          <div class="d-flex justify-content-between align-items-center"> <span>KMD</span> <i
                              class='bx bxs-plane-take-off ms-3 me-3 text-warning'></i> <span>MUM</span> </div>
                        </div>
                        <div> <span>5 hours 12 minutes</span> </div>
                      </div>
                      <div class="border-top p-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column"> <span>Departure</span>
                          <div class="d-flex justify-content-between align-items-center"> <span>GOA</span> <i
                              class='bx bxs-plane-take-off ms-3 me-3 text-warning'></i> <span>NPU</span> </div>
                        </div>
                        <div> <span>8 hours 12 minutes</span> </div>
                      </div>
                      <div class="border-top p-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column"> <span>Departure</span>
                          <div class="d-flex justify-content-between align-items-center"> <span>SGR</span> <i
                              class='bx bxs-plane-take-off ms-3 me-3 text-warning'></i> <span>NYC</span> </div>
                        </div>
                        <div> <span>13 hours 12 minutes</span> </div>
                      </div>
                    </div>

                  </div>


                  <div class="tab-pane fade" id="faq_tab_3" role="tabpanel" aria-labelledby="faq_tab_3-tab">
                          <div class="row">
                                <div class="col">
                                  <label for="inputNome" class="form-label">Nome</label>
                                  <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                                </div>
                                <div class="col">
                                  <label for="inputNome" class="form-label">Nome</label>
                                  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                                </div>
                                <div class="col">
                                  <label for="inputNome" class="form-label">Nome</label>
                                  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                                </div>
                                <div class="col">
                                  <label for="inputNome" class="form-label">Nome</label>
                                  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                                </div>
                          </div>
                  </div>
                </div>
                <!--Tab-->

    </div>

    <app-button-floating></app-button-floating>
  </div>
</div>
