
<div class="row">
  <div class="col-sm-6 bg-login">

  </div>

  <div class="col-sm-6">


    <div class="form-center">

      <div class="row" id="form-login">
        <div class="flagbox">
          <app-flags></app-flags>
          <app-colortheme></app-colortheme>
        </div>

        <img src="/assets/imgs/adamas-logo.png" alt="Logo">

        <input type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">

        <label class="lbl-senha" for="gridCheck">
          Esqueci minha senha
        </label>
      </div>

        <div class="row">
          <button type="submit" class="btn btn-black" onclick="window.location.href='/verificacao';">Entrar</button>
        </div>

        <div class="row text-center">
            <label>OU</label>
        </div>

        <div class="row">
          <button type="submit" class="btn btn-black">Entrar como parceiro</button>
        </div>
    </div>

  </div>
</div>

