.cards {
  float: left;
  width: 100%;
  min-height: 250px;
  margin: 10px auto;
  --bg-color:#F5F5F7;
  /* background-color: #F5F5F7; */
  border-radius: 12px;
  font-family: 'Manrope', sans-serif;
  border: 2px solid #F5F5F7;
  transition: ease 0.3s;
  position: relative;
}
