
<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="container-fluid" id="content-cards">
  <div class="row">

    <div class="col-sm-12">
      <h2 class="title">BV BULGARI > </h2>
      <h3 class="title-favoritos">Favoritos</h3>
    </div>

    <div class="col-sm-3">
      <div class="cards">
        <h3> <i class="fa fa-user"></i> RH</h3>
      </div>
      <div class="cards-btn">
        <ul>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Dashboard"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Adicionar"><i class="fa fa-plus"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Compartilhar"><i class="fa fa-share" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Recarregar"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="cards">
        <h3> <i class="fa fa-handshake-o"></i> Comercial</h3>
      </div>
      <div class="cards-btn">
        <ul>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Dashboard"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Adicionar"><i class="fa fa-plus"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Compartilhar"><i class="fa fa-share" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Recarregar"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="cards">
        <h3> <i class="fa fa-credit-card"></i> Pagamentos</h3>
      </div>
      <div class="cards-btn">
        <ul>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Dashboard"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Adicionar"><i class="fa fa-plus"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Compartilhar"><i class="fa fa-share" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Recarregar"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="cards">
        <h3> <i class="fa fa-line-chart"></i> Vendas</h3>
      </div>
      <div class="cards-btn">
        <ul>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Dashboard"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Adicionar"><i class="fa fa-plus"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Compartilhar"><i class="fa fa-share" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Recarregar"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3" *ngFor="let post of posts">
      <div class="cards">
        <h3>
          <i class="fa fa-line-chart"></i>
            {{post.category}}
        </h3>

        <!-- <h3> <i class="fa fa-line-chart"></i> {{newdata.brand}}</h3> -->
      </div>
      <div class="cards-btn">
        <ul>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Dashboard"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Adicionar"><i class="fa fa-plus"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Compartilhar"><i class="fa fa-share" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Recarregar"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="cards">
        <app-chart></app-chart>
      </div>
      <div class="cards-btn">
        <ul>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Dashboard"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Adicionar"><i class="fa fa-plus"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Compartilhar"><i class="fa fa-share" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Recarregar"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="cards">
        <app-chat-bar></app-chat-bar>
      </div>
      <div class="cards-btn">
        <ul>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Dashboard"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Adicionar"><i class="fa fa-plus"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Compartilhar"><i class="fa fa-share" aria-hidden="true"></i></a></li>
          <li><a href="#" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Recarregar"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>





    <div class="col-sm-12">

       <button type="button" class="btn f-right add-fav rounded-circle"><i class="fa fa-plus"></i></button>
    </div>


  </div>
</div>



