
<div class="row">

    <div class="col-sm-12">
        <a href="/upload" class="btn btn-view-list"><i class="fa fa-th-list" aria-hidden="true"></i></a>
    </div>

      <div class="col-sm-3">
              <div class="card archive">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <div class="card-body">
                  <h5 class="card-title">FGTS.pdf</h5>
                </div>
                <ul class="list-group list-unstyled">
                  <li class="list-group-item">Workflow POC000022 - 09/14/2023 12:30pm</li>
                  <li class="list-group-item">Requisição: Alpeserv</li>
                  <li class="list-group-item">Tipo OCR</li>
                  <li class="list-group-item">Fase inicial</li>
                  <li class="list-group-item">Valor 136.79</li>
                  <li class="list-group-item">Data 09/14/2023</li>
                  <li class="list-group-item">P.O</li>
                </ul>
                <div class="card-body">
                  <app-shareicon></app-shareicon>
                </div>
              </div>
      </div>


      <div class="col-sm-3">
        <div class="card archive">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
          <div class="card-body">
            <h5 class="card-title">FGTS.pdf</h5>
          </div>
          <ul class="list-group list-unstyled">
            <li class="list-group-item">Workflow POC000022 - 09/14/2023 12:30pm</li>
            <li class="list-group-item">Requisição: Alpeserv</li>
            <li class="list-group-item">Tipo OCR</li>
            <li class="list-group-item">Fase inicial</li>
            <li class="list-group-item">Valor 136.79</li>
            <li class="list-group-item">Data 09/14/2023</li>
            <li class="list-group-item">P.O</li>
          </ul>
          <div class="card-body">
            <app-shareicon></app-shareicon>
          </div>
        </div>
</div>

<div class="col-sm-3">
  <div class="card archive">
    <i class="fa fa-picture-o" aria-hidden="true"></i>
    <div class="card-body">
      <h5 class="card-title">FGTS.pdf</h5>
    </div>
    <ul class="list-group list-unstyled">
      <li class="list-group-item">Workflow POC000022 - 09/14/2023 12:30pm</li>
      <li class="list-group-item">Requisição: Alpeserv</li>
      <li class="list-group-item">Tipo OCR</li>
      <li class="list-group-item">Fase inicial</li>
      <li class="list-group-item">Valor 136.79</li>
      <li class="list-group-item">Data 09/14/2023</li>
      <li class="list-group-item">P.O</li>
    </ul>
    <div class="card-body">
      <app-shareicon></app-shareicon>
    </div>
  </div>
</div>


<div class="col-sm-3">
  <div class="card archive">
    <i class="fa fa-picture-o" aria-hidden="true"></i>
    <div class="card-body">
      <h5 class="card-title">FGTS.pdf</h5>
    </div>
    <ul class="list-group list-unstyled">
      <li class="list-group-item">Workflow POC000022 - 09/14/2023 12:30pm</li>
      <li class="list-group-item">Requisição: Alpeserv</li>
      <li class="list-group-item">Tipo OCR</li>
      <li class="list-group-item">Fase inicial</li>
      <li class="list-group-item">Valor 136.79</li>
      <li class="list-group-item">Data 09/14/2023</li>
      <li class="list-group-item">P.O</li>
    </ul>
    <div class="card-body">
      <app-shareicon></app-shareicon>
    </div>
  </div>
</div>




</div>





