
#accordion {
  margin: 0 0 80px 0;
}

#accordion .card {
  border:0;
  margin: 0px 0;
  background-color: white;
}

.card-header {
  background-color:var(--bg-color);
  color:#F48120;
}

.btn-link {
  color:#F48120;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

.list-group .list-group-item{
  color:#F48120;
  border:0;
}

.list-group i{
  margin:0 10px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color:red;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}





@media (max-width: 575.98px) {
  #accordion {
    margin: 50px 0 80px 0;
  }

  .btn-link{
    color: #F48120;
    font-size: 22px;
}


}


