
<div class="wrapper">

  <!-- Sidebar  -->
  <nav id="sidebar" class="active">

    <ul class="list-unstyled components">
        <li class="">
          <button type="button" id="sidebarCollapse" class="btntoggle">
            <span class="material-symbols-outlined">
              menu
              </span>
        </button>
        </li>
    </ul>

      <div class="sidebar-header">
        <a href="/home"><span><img src="../assets/imgs/icone.png" alt="logo-adamas" class="logo"></span></a>
      </div>

      <ul class="list-unstyled components">
          <li class="">
              <a href="/home">
                <i class="material-icons">home</i>
                  Home
              </a>
              <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="#">Home 1</a>
                  </li>
                  <li>
                      <a href="#">Home 2</a>
                  </li>
                  <li>
                      <a href="#">Home 3</a>
                  </li>
              </ul> -->
          </li>
          <li>
              <a href="#">
                <i class="material-icons">dashboard</i>
                <span>Dashboard</span>
              </a>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons">note_add</i>
                <span>Páginas</span>
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="/cadastro"><span>Cadastro Pessoa</span></a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/workflow">
                <i class="material-icons">account_tree</i>
                <span>Workflow</span>
              </a>
          </li>
          <li>
              <a href="/upload">
                <i class="material-icons">upload_file</i>
                <span>Upload</span>
              </a>
          </li>
          <li>
              <a href="/suporte">
                <span class="material-symbols-outlined">
                  help
                </span>
              <span>Suporte</span>
              </a>
          </li>
      </ul>

      <ul class="list-unstyled CTAs">
          <li>
              <a  href="/login"><i class="material-icons">logout</i> <span>Sair</span></a>
          </li>
      </ul>
  </nav>

</div>
