<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
  <a routerLink="/"><span><img src="../assets/imgs/icone.png" alt="logo-adamas" class="logo"></span></a><br>

  <ul class="nav flex-column dropside">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"><span><i class="material-icons">dashboard</i><span
            class="icon-text">Dashboard</span></span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
        aria-expanded="false"><span><i class="material-icons">note_add</i><span
            class="icon-text">Cadastro</span></span></a>
      <ul class="dropdown-menu">
        <li><a routerLink="/cadastro" class="dropdown-item">Pessoas</a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
        aria-expanded="false"><span><i class="material-icons">upload_file</i><span
            class="icon-text">Uploads</span></span></a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Enviar</a></li>
        <li><a class="dropdown-item" href="#">Visualizar em Grid</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span><i class="material-icons">account_tree</i><span
            class="icon-text">Workflow</span></span></a>
    </li>
  </ul>

</div>

