<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <button type="button" class="btn-closeoff" data-bs-dismiss="offcanvas" aria-label="Close"> <i class="material-icons">close</i></button>
  </div>
  <div class="offcanvas-body">

    <ul class="nav-side list-unstyled">
      <li class="">
          <a href="/home">
            <i class="material-icons">home</i>
              Home
          </a>
      </li>
      <li>
          <a href="/home">
            <i class="material-icons">dashboard</i> Dashboard
          </a>

          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="material-icons">note_add</i> Páginas
          </a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="/cadastro">Cadastro Pessoa</a>
              </li>
              <li><a href="/workflow">Workflow</a></li>
              <li><a href="/workflow-details">Workflow Detalhes</a></li>
          </ul>

      </li>
      <li>
          <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="material-icons">upload_file</i> Upload
          </a>
          <ul class="collapse list-unstyled" id="pageSubmenu1">
              <li>
                  <a href="/upload">Enviar</a>
              </li>
              <li><a href="/upload-view">Visualização</a></li>
          </ul>

      </li>
      <li>
          <a href="/suporte">
            <i class="material-icons">help</i> Suporte
          </a>
      </li>
  </ul>



  </div>

</div>
