<div class="btn-share">
  <ul>
    <li><i class="fa fa-th-large" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="left" title="Dashboard"></i></li>
    <li><i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="left" title="Adicionar"></i></li>
    <li><i class="fa fa-share" data-bs-toggle="tooltip" data-bs-placement="left" title="Compartilhar" aria-hidden="true"></i></li>
    <li><i class="fa fa-refresh" data-bs-toggle="tooltip" data-bs-placement="left" title="Recarregar" aria-hidden="true"></i></li>
  </ul>
</div>
