header {
  border: 0px solid red;
}


.nav-resp .nav-link {
  height: auto;
}

.nav-resp .nav-link:hover {
  border:0;
}


#navresp {
  display: none;
}

@media (max-width: 575.98px) {
  #navresp {
    display: block;
  }

  .dropdown-item {
    color:#8b8b8b;
  }

  .navbar-nav .dropdown-menu {
    background-color: #181818;
    border: 1px solid #2c2c2cde;
  }

}
