header {
  border: 0px solid red;
}


.nav-resp .nav-link {
  height: auto;
}

.nav-resp .nav-link:hover {
  border:0;
}


#navresp {
  display: none;
}

@media (max-width: 575.98px) {
  #navresp {
    display: block;
  }

}
