/* You can add global styles to this file, and also import other style files */


html, body { height: 100%;  padding: 0; margin: 0; overflow-x: hidden;}
body {  padding: 0; margin: 0; font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none;
  color:initial;
}

.f-right {
  float:right
}

button.add-fav {
  background: white;
  border:2px solid #F48120;
  color:#F48120;;
}
button.add-fav:hover {
  background: #F48120;
  color:white;
}



/* [class*='col-'] {
  float:left;
  padding:0;
  margin:0px;
  /* background: #dedede;
  border:1px solid red; /
}
 */



.col-menu {
  width: 6%;
 float: left;
 background: white;
}


/* [class*='col-']  {
  float:left;
  padding:5px;
  margin:0px;
} */


.container-fluid {
  margin:0;
  padding: 0;
}


/* Estilos */


h2.title {
  margin: 30px 0;;
  color: #F48120;
  font-weight: bold;
  font-size: 31px;
}

h3.title-favoritos {
  color: #F48120;
  font-size: 23px;
}

h2.title span {
  font-weight: 500;
  font-size:26px;
}


button.btn-orange {
  background-color: #F48120;
  color:white;
}

button.btn-orange:hover  {
  background-color: #F48120;
  color:white;
}

.border-0 {
  border: 0;
}


/*Cards*/
.cards {
  float: left;
  width: 100%;
  margin: 30px auto;
  background-color: #F5F5F7;
  border-radius: 12px;
  font-family: 'Manrope', sans-serif;
  border:2px solid #F5F5F7;
  transition:ease 0.3s;
  position: relative;
}

.cards h3 {
  font-weight: bold;
  margin: 26% 0;
  text-align: center;
  font-size: 26px;
}

.cards:hover {
  border:2px solid #F48120;
  transition:ease 0.3s;
}

.cards-btn a {
  color:#acacac;
}

.cards-btn {  opacity: 1; position: fixed; }


 .cards-btn {
  margin: -50px 0 0px 0;
  display:block;
  position: relative;
  padding:0 20px;
  color: #F48120;
  float:left;
  width:100%;
}


/* .cards:hover + .cards-btn {
  background:red;
  width:100%;
  display: block;
  position: relative;
  opacity: 1;
} */

.cards-btn ul li {
  display: inline-block;
}

.cards-btn ul{
  margin:0;
  float:right;
}


.cards-btn ul li i{
  margin:0 20px;
  text-align: right;
}



.add-fav {
  float:right;
  border:2px solid #F48120;
  border-radius: 50%;
  padding:5px 11px;
  color:#F48120;
  margin:20px 0;
}


.tab-pane {
    height: 300px
}

.form-control {
    height: 45px;
    position: relative
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #F48120
}

.flight-where-from:after {
    position: absolute;
    content: '23';
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.custom-button {
    height: 45px;
    background-color: #F48120;
    border: none;
    color: #fff;
    font-size: 21px;

}

.custom-button:hover,
.custom-button:focus {
    background-color: #F48120;
    box-shadow: none;
    outline: none
}

.scroll-y {
    overflow-y: scroll;
    height: 300px
}

button.nav-link {
  font-size: 21px;
}


label.form-label {
  float:left;
  width:100%;
  margin:10px 0 0 0;
}




button.bottom-fix {
  background: black;
  position: fixed;
  bottom: 30px;
}



.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  padding: 0 10px;
}

/*Componente Cadastro*/

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #fff !important;
    color: #F48120 !important;
    border-bottom: 4px solid #F48120 !important
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%;
    color: #000;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;

}

.nav-tabs .nav-link.active {
    border-color: transparent;
    color: #fff;
    font-weight: 600
}

.nav-link {
    height: 77px;
    background-color: #fff;
    border-bottom:1px solid #dedede;
}

.nav-link:hover {
    border:0px solid white;
    border-bottom:1px solid #acacac;
}

.nav-link:focus {
    outline: none
}

.tab-pane {
    height: 300px
}

.form-control {
    height: 45px;
    position: relative
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #F48120
}

.flight-where-from:after {
    position: absolute;
    content: '23';
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.custom-button {
    height: 45px;
    background-color: #F48120;
    border: none;
    color: #fff;
    font-size: 21px;

}

.custom-button:hover,
.custom-button:focus {
    background-color: #F48120;
    box-shadow: none;
    outline: none
}

.scroll-y {
    overflow-y: scroll;
    height: 300px
}

button.nav-link {
  font-size: 21px;
}


label.form-label {
  float:left;
  width:100%;
  margin:10px 0 0 0;
}

.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  width: 100%;
  border: 0;
}


/*Avatar*/
.avatar img {
  width: 200px;
  height: 200px;
  border: 5px solid #e7e7e7;
}



.row>[class^=col-] {
  /* padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(86,61,124,.15); */
  border: 0px solid rgba(86,61,124,.2);
}

.container-fluid {
  max-width: 1600px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #sidebar {
    display: none;
  }

  #navresp {
    background-color: #141313;
    display: block;
  }

  .cards-btn ul {
      margin: 0;
      float: none;
      width: 100%;
      text-align: center;
      padding: 0;
  }

  /*Avatar*/
  .avatar img {
    width: 200px;
    height: 200px;
    border: 5px solid #e7e7e7;
  }


}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  html {
      overflow-x: hidden;
    }


    h2.title {
      margin: 30px 0;
      color: #F48120;
      font-weight: bold;
      font-size: 21px;
      text-align: center;
    }

    h3.title-favoritos {
        text-align: center;
    }

    .group-alertas {
      padding: 10px 0;
      text-align: center;
    }

    /*Login Page*/
    .bg-login {
      display: none;
    }

    .form-center {
      max-width: 280px;
      margin: 0 auto;
    }


}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .navbar {display: none;}
}

/*  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .navbar {display: none;}
}
