/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

[class*='col-'] {
  float:left;
  padding: 5px;
  margin:0px;
  /* background: #dedede;
  border:1px solid red; */
}


/* Estilos */

h2.title {
  margin: 30px 0;;
  color: #F48120;
  font-weight: bold;
  font-size: 31px;
}

h3.title-favoritos {
  color: #F48120;
  font-size: 23px;
}

h2.title span {
  font-weight: 500;
  font-size:26px;
}



/*Cards*/
.cards {
  max-width: 100%;
  background-color: #F5F5F7;
  border-radius: 12px;
  font-family: 'Manrope', sans-serif;
  border:2px solid #dedede;
  transition:ease 0.3s;
}

.cards h3 {
  font-weight: bold;
  margin: 26% 0;
  text-align: center;
  font-size: 26px;
}

.cards:hover {
  border:2px solid #F48120;
  transition:ease 0.3s;
}


.add-fav {
  float:right;
  border:2px solid #F48120;
  border-radius: 50%;
  padding:5px 11px;
  color:#F48120;
  margin:20px 0;
}






.tab-pane {
    height: 300px
}

.form-control {
    height: 45px;
    position: relative
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #F48120
}

.flight-where-from:after {
    position: absolute;
    content: '23';
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.custom-button {
    height: 45px;
    background-color: #F48120;
    border: none;
    color: #fff;
    font-size: 21px;

}

.custom-button:hover,
.custom-button:focus {
    background-color: #F48120;
    box-shadow: none;
    outline: none
}

.scroll-y {
    overflow-y: scroll;
    height: 300px
}

button.nav-link {
  font-size: 21px;
}


label.form-label {
  float:left;
  width:100%;
  margin:10px 0 0 0;
}


:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #0C0B0B;
  --first-color-light: white;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
